.usuario-header {
  background-color: #1B1C1D;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,.08);
}

.usuario-header-name {
  color: white;
  margin-right: 8px;
  margin-left: 8px;
}

.usuario-header-icon {
  color: white;
  cursor: pointer;
}

.usuario-header-right-container {
  display: flex;
  align-items: center
}
